---
layout: default
---

<section class="index" itemscope itemtype="http://schema.org/Blog">
    <section class="newest-recipes clear">
        {% for post in site.posts limit: 3 %}
        <article class="post" role="article" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
            <div class="post-excerpt">{{ post.excerpt }}</div>
            <div class="details">
                {% if forloop.first %}
                <h6 class="post-title first-post" itemprop="name headline"><a itemprop="url" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a></h6>
                    <div class="post-content">
                        {{ post.content | strip_html | truncate: 110 }}
                    </div>
                {% else %}
                <h6 class="post-title" itemprop="name headline"><a itemprop="url" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a></h6>
                {% endif %}
            </div>
        </article>
        {% endfor %}
    </section>

    <section class="posts clear">
        <div class="section-title"><span>Recent Recipes</span></div>
        {% for post in site.posts offset: 3 limit: 4 %}
        <article class="post" role="article" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
            <h2 class="post-title" itemprop="name headline"><a itemprop="url" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a></h2>
            <div class="post-content">
                {{ post.content }}
            </div>
        </article>
        {% endfor %}
    </section>

    <a class="view-all" href="/photos">View All</a>

</section>
