<header class="header clear">
    <div class="blog-info clear">
        <a href="{{ site.baseurl | prepend: site.url }}" class="blog-logo">
            <img src="https://s3.eu-west-2.amazonaws.com/grubdaily/logoblue.png" alt="{{ site.name }}" width="427px" height="82px" />
        </a>
    </div>

    <div class="clr"></div>

    {% include search.html %}

    <nav role="navigation" class="mainmenu">
        <ul class="clear">
            <li><a href="{{ site.baseurl | prepend: site.url }}" {% if page.url == "/" %}class="active"{% endif %}>Home</a></li>
            {% if site.pages %}
                {% for p in site.pages %}
                    {% if p.layout == 'page' %}
                        <li><a href="{{ p.url | prepend: site.baseurl | prepend: site.url }}" {% if p.url == page.url %}class="active"{% endif %}>{{ p.title }}</a></li>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </ul>
    </nav>

    <div class="clr"></div>

</header>
